<div class="content">
<div class="row">
    <div class="col-md-8">
      <div class="grid simple">

        <div class="grid-body no-border">
          <div class="row-fluid">
            <div class="span8">
              <h3>New  <span class="semi-bold">Restaurant</span></h3>
<%= render 'form' %>

<%= link_to 'Back', restaurants_path %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>