/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*#menu_items .input {
    margin-left: 10px;
}

#menu_items div.nested-fields table {
    margin-left: 150px;
    width: 80%;
}

#menu_items label.boolean.optional {
    width: 50px;
}

#menu_items input[type="checkbox"] { margin:  8px; }


.add_fields, .remove_fields { margin-left: 150px; }
#menu_items > .nested-fields > table .remove_fields { margin-left: 0px; line-height: 30px; }

#menu_items .clearfix { margin-bottom: 2px; }

#menu_items > .links > a.add_fields { margin-top: 20px; width: 100%; display:block; border-top: 1px dashed silver; }

.menu-tag-fields { padding: 2px; border: 1px dashed #ddd; }*/

