<div class="page-sidebar" id="main-menu">
  <!-- BEGIN MINI-PROFILE -->
  <div class="page-sidebar-wrapper" id="main-menu-wrapper">
    <div class="user-info-wrapper">
      <div class="profile-wrapper"> <img src="/assets/profiles/avatar.jpg"  alt="" data-src="/assets/profiles/avatar.jpg" data-src-retina="/assets/profiles/avatar2x.jpg" width="69" height="69" /> </div>
      <div class="user-info">
        <div class="greeting">Welcome</div>
        <div class="username">Rahul Baxi</div>
        <div class="status">Status<a href="#">
          <div class="status-icon green"></div>
          Online</a></div>
      </div>
    </div>
    <!-- END MINI-PROFILE -->
    <!-- BEGIN SIDEBAR MENU -->
    <ul>
      <li class="start active"> <a href="/"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> </a> 		</li>
		<li > <a href="<%=my_account_path%>"> <i class="fa fa-user"></i> <span class="title">My Account</span> </a> </li>
			<li class=""> <a href="<%=menus_path%>"> <i class="icon-custom-portlets"></i> <span class="title">Menus</span></a></li>
      <li class=""> <a href="<%=restaurants_path%>"> <i class="fa fa-th"></i> <span class="title">Restaurants</span></a> </li>
      <li class=""> <a href="<%=tablets_path%>"> <i class="fa fa-tablet"></i> <span class="title">Tablets</span></a> </li>
    </ul>

    <div class="clearfix"></div>
    <!-- END SIDEBAR MENU -->
  </div>
</div>

<div class="footer-widget">
  <div class="pull-right">
    <a href="lockscreen.html"><i class="fa fa-power-off"></i></a></div>
</div>